/* Base styles */

QWidget {
    background-color: #121212;
}

QToolButton {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 5px;
    margin: 0px;
    color: #FFFFFF;
    font-size: 16px;
}

QToolButton:focus {
    border: 2px solid #3498DB;
    background-color: transparent;
}

QToolButton:hover {
    background-color: #263238;
}

/* Shutdown button specific styles */
QToolButton#shutdownButton {
    color: #FF5252;
}

QToolButton#shutdownButton:focus {
    border-color: #FF5252;
}

QToolButton#shutdownButton:hover {
    background-color: rgba(255, 82, 82, 0.2);
}

/* Reboot button specific styles */
QToolButton#rebootButton {
    color: #FFC107;
}

QToolButton#rebootButton:focus {
    border-color: #FFC107;
}

QToolButton#rebootButton:hover {
    background-color: rgba(255, 193, 7, 0.2);
}

/* Logoff button specific styles */
QToolButton#logoffButton {
    color: #4CAF50;
}

QToolButton#logoffButton:focus {
    border-color: #4CAF50;
}

QToolButton#logoffButton:hover {
    background-color: rgba(76, 175, 80, 0.2);
}